doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/roomStyle/style.css')
        title= roomId
    body 
        #top
            #top_left
                button#camera.border-radius-5.border-none 視訊鏡頭
                |             
                button#microphone.border-radius-5.border-none 麥克風
                |             
                button#screen.border-radius-5.border-none 螢幕畫面
                |             
                button#video-start.border-radius-5.border-none 錄影
            #top_right
                button#settingButton.border-radius-5.border-none 設置
                | &nbsp;&nbsp;
                br         
                br
                #setting.bg-gainsboro.border-radius-10.border-none(style='display: none;')
                    button#voice.border-radius-5.border-none 靜音
                    | &nbsp;&nbsp;
                    br           
                    button#staffButton.border-radius-5.border-none 成員
                    | &nbsp;&nbsp;
                    br            
                    button#messegeButton.border-radius-5.border-none 聊天室
                    | &nbsp;&nbsp;
                    br             
                    button#voteButton.border-radius-5.border-none 投票
                    | &nbsp;&nbsp;
                    br           
                    div
                    | 麥克風:
                    select#microphoneSelect.border-radius-5.border-none
                    | &nbsp;&nbsp;
                    br               
                    div
                    | 鏡頭:
                    select#cameraSelect.border-radius-5.border-none
                    | &nbsp;&nbsp;
                    br
                    br
        br
        br
        #bottom
            #bottom_left
                video#video(style='display: none;')  
                canvas#canvas
            #bottom_right
                #messege
                    textarea#txtShow.border-radius-10(rows='50', disabled='')
                    br             
                    input#txtInput.border-radius-5.border-none(type='text')            
                    button#btnSend.border-radius-5.border-none 送出  
                #staff(style='display: none;')
                #voteRooms.border-radius-10(style='display: none;')
                    button#createVote.border-radius-5.border-none 創建投票
                    br 
                    br
                    #voteForm 
                #createVoteRoom.border-radius-10(style='display: none;')
                    button#returnVote.border-radius-5.border-none 返回
                    br
                    | 投票名稱: 
                    input#voteName.border-radius-5(type="text")
                    br
                    | 數量: 
                    select#numOfVoteOptions.border-radius-5
                        option(value="0") 0
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                    br
                    #inputVoteOptions.border-none 
                    br
                    button#SendcCeateVote.border-radius-5.border-none 送出
    
    |<script>
    !='ROOM_ID = "'+roomId+'"'
    |</script>
    script(src='https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/script.js") 